@import url('https://dcs.googleapis.com/css2?family=Oxygen&display=swap');
* {
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.init-button {
	align-self: center;
	justify-self: center;
	margin-top: 50px;
	border-color:chocolate;
	padding: 5px 10px;
	border-radius: 5px;
}
.btn {
	border-color:chocolate;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 10px;
	margin: 0 2px;
}
.bg-lightest-blue {
	margin:10px 0px;
	border-radius: 5px;
}
.album{
	width: 200px;
	height: 260px;
}

.album-name {
	text-overflow: ellipsis;
	font-size:12px;
    overflow: hidden;
    white-space: nowrap;
	position: relative;
}
.artist-name {
	text-overflow: ellipsis;
	font-size:15px;
    overflow: hidden;
    white-space: nowrap;
}

.not-local {
	position: absolute;
	width:20px;
	bottom:10px;
	right:20px;
}

.card-array {
	padding: 20px 10px;
}